<h1>Order Confirmation</h1>

<% @order.carted_products.each do |carted_product| %>
  <h3><%= carted_product.product.name %> x <%= carted_product.quantity %> = <%= number_to_currency(carted_product.product.price) %> = subtotal 
<% end %>

















<div class="well">
  
<h2> Subtotal: <%= number_to_currency(@order.subtotal) %></h2>
<h2> Tax: <%= number_to_currency(@order.tax) %></h2>
<h2> Total: <%= number_to_currency(@order.total)%></h2>

</div>