
<h1>Checkout</h1>

<% @carted_product.each do |carted_product| %>
  <h3><%= carted_product.product.name %> x <%= carted_product.quantity %> at <%= number_to_currency(carted_product.product.price) %>  
  

  <%= link_to "/checkout/#{carted_product.id}", method: :delete do %>
  

    <input type="submit" value="Delete" class="btn btn-danger">
    </h3>
  <% end %>
<% end %>

<%= form_tag "/orders", method: :post do %>
  <input type="submit" value="Buy Now" class="btn btn-primary">
<% end %>

